@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #1c1c1c;
  --main-hover-bg: #2e2e2e;
  --card-bg: #252525;
  --main-text: #dadada;
  --scroll-primary: #7a7a7a96;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-primary);
}
